DATABASE_URL=postgres://xxxxxxxxxxx:sk_xxxxxx.prisma.io:5432/postgres?sslmode=require
PRISMA_DATABASE_URL=prisma+postgres://accelerate.prisma-data.net/?api_key=xxxxxxxxxxx

# nuxt-auth-utils
NUXT_SESSION_PASSWORD=xxxx  
NUXT_OAUTH_GOOGLE_CLIENT_ID=xxxxxx.apps.googleusercontent.com
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=GOCSPX--xxxxxx